header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
}

#appTitle {
    font-size: 60pt;
}

#logout {
    position: absolute;
    right: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
}