main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#salesPitch {
    text-align: center;
    padding: 20px;
}

.login {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
    align-items: center;
}

.parentlogin,
.childlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-group {
    display: flex;
    gap: 10px;
}