<main>
    <section>
        <h1>Safe Spend Allowance Manager</h1>
    </section>
    <section class="login">
        <section class="parentlogin">
            <h3>For Parents</h3>
            <p>Marketing text</p>
            <p>More Marketing text</p>
            <button [routerLink]="['/parentlogin']">Sign Up or Log In</button>
        </section>
        <section class="childlogin">
            <h3>For Kids</h3>
            <button [routerLink]="['/childlogin']">Log In</button>
        </section>
    </section>
</main>