<main>
    <section id="salesPitch">
        <h1>A way to safely manage your child's allowance in a digital world</h1>
    </section>
    <section class="login">
        <section class="parentlogin">
            <h3>For Parents</h3>
            <p>Manage your child's allowance with a free account!</p>
            <div class="button-group">
                <button id="parentRegister" [routerLink]="['/register']">Sign Up</button>
                <button id="parentLogin" [routerLink]="['/parentlogin']">Log In</button>
            </div>
        </section>
        <section class="childlogin">
            <h3>For Kids</h3>
            <p>Log in to view chores and claim rewards!</p>
            <button id="childLogin" [routerLink]="['/childlogin']">Log In</button>
        </section>
    </section>
</main>