* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html,
body {
    height: 100%;
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}