<p>storefront works!</p>

<form (ngSubmit)="onSubmit()">
    <h2>Add Item</h2>

    <label for="itemName">Item Name</label>
    <input type="text" id="itemName" [(ngModel)]="itemName" name="itemName" required>

    <label for="itemPrice">Item Price</label>
    <input type="number" id="itemPrice" [(ngModel)]="itemPrice" name="itemPrice" required>

    <label for="itemQuantity">Quantity</label>
    <input type="number" id="itemQuantity" [(ngModel)]="itemQuantity" name="itemQuantity" required>

    <button type="submit">Add Item</button>
</form>